adium-theme-ubuntu==0.3.4
appdirs==1.4.3
chainer==1.23.0
cycler==0.10.0
filelock==2.0.8
functools32==3.2.3.post2
gyp==0.1
matplotlib==2.0.0
nose==1.3.7
numpy==1.12.1
packaging==16.8
protobuf==3.2.0
pyparsing==2.2.0
python-dateutil==2.6.0
pytz==2017.2
requests==2.13.0
six==1.10.0
slacker==0.9.42
subprocess32==3.2.7
unity-lens-photos==1.0
virtualenv==15.1.0
